


body {
  font-family: "Muli", sans-serif;
  /* 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  */

  background-color: rgb(28, 28, 46);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* margin: 0; */
}

p {
  color: white;
}

#piano-container {
  /* display: flex;
  flex-direction: column */
  margin: 20px 20px 5px 20px;
}
#piano {
  display: flex;
  margin: 40px 40px 0px 0px;
  justify-content: center;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 20px;
  background-color: white;
  border: 1px solid #333;
}
.black {
  --width: 12px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}
.white.middle-c {
  background-color: rgb(255, 239, 239);
}

.white.active {
  background-color: #CCC;
}
.black.active {
  background-color: #656565;
}

.white.highlighted {
  background-color: #00cf1f;
}
.white.highlighted.active {
  background-color: #00b81c;
}

.black.highlighted {
  background-color: #00640f;
}
.black.highlighted.active {
  background-color: #00550d;
}

.toggle-button {
  background-color: #77767a; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.toggle-button.on {
  background-color: #486243; /* Green */
}

.interval-button {
  background-color: #77767a; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.interval-button.on {
  background-color: #486243; /* Green */
}


#interval-settings {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.interval-button {
  font-size: 16px;
  padding: 4px 10px;
}

#interval-main-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

#interval-guess-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  gap: 5px;
}



.interval-guess-button {
  background-color: #77767a; /* Green */
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
}

.interval-guess-button.correct {
  background-color: #85e871;
}

.interval-guess-button.incorrect {
  background-color: #d23535;
}

#interval-start-button {
  background-color: #77767a;
  border: none;
  color: white;
  padding: 3px 8px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#interval-play-button {
  background-color: #77767a;
  border: none;
  color: white;
  padding: 3px 8px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: none; /* is hidden to begin with */
  font-size: 16px;
}

#interval-next-button {
  background-color: #77767a;
  border: none;
  color: white;
  padding: 3px 8px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: none; /* is hidden to begin with */
  font-size: 16px;
}

#interval-second-row-buttons {
  display: flex;
  gap: 8px;
}


#random-playing-technique-direction {
  align-items: center;
  margin: 0px;
  font-size: 12px;
  opacity: 0; /* initially hidden */
}